/*      Fuentes     */
.maitree-regular {
    font-family: "Maitree", serif;
    font-weight: 400;
    font-style: normal;
}

.jacques-francois-regular {
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
}

.lustria-regular {
    font-family: "Lustria", serif;
    font-weight: 400;
    font-style: normal;
}

.luxurious-roman-regular {
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
  
.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}  

.londrina-solid-black {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.marmelad-regular {
    font-family: "Marmelad", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.marko-one-regular {
    font-family: "Marko One", serif;
    font-weight: 400;
    font-style: normal;
}
  
  